templates/nodered/flows/strybar-fernbedienung/strybar-fernbedienung.json
[{"id":"0bbed7669b9c22a4","type":"group","z":"468a7e231fa8156f","name":"STYRBAR SHYS","style":{"label":true},"nodes":["dc2502a513b14c17","8293cf019314ef3e","b043689ff7bfd3ef","ba445db81583ebdd","0dc82593ac09d14d","6e17698630e3ace1","021c03f6f197c090","1d91add6c6b3d72b","e97b70f36ada3632","b46e6a615a513c40","ce5dd684b6b327d4","d938cae7dad85602","843e510946f62a6a","248f4d048fe7e21e","621aa8701b853069","f9a5ae20bb4f9b05","9d9dad81f812abcf","1a586581507b8cbb"],"x":1582.7499861717224,"y":1633,"w":1784.000015258789,"h":1314},{"id":"dc2502a513b14c17","type":"switch","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","name":"switch","property":"payload.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"1001","vt":"str"},{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"4001","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"2003","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":1801.249984741211,"y":2105.7499961853027,"wires":[["9ae5503a70cde7d6"],["9ae5503a70cde7d6"],["c64b768c577b728d","912d95ad22927bdd","182999fa131e5b6a"],["c64b768c577b728d","7e0180e1d82d9a6f"],["0da715512e78ce32"],["9a182b73ee2cfd82"],["c212fecdb60c5b71"],["2e2f4a825963f949"],["55f272dff7886e11"]]},{"id":"8293cf019314ef3e","type":"deconz-input","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","name":"","topic":"","config_version":2,"server":"c2f29da98c3d5506","statustext":"","statustext_type":"auto","search_type":"device","device_list":["sensors/uniqueid/cc:86:ec:ff:fe:92:d6:7f-01-1000"],"device_name":"","query":"","outputs":1,"output_rules":[{"type":"state","format":"single","output":"always","onstart":true,"payload":["__complete__"]}],"x":1678.7499861717224,"y":1966.25,"wires":[["6e17698630e3ace1","dc2502a513b14c17"]]},{"id":"b043689ff7bfd3ef","type":"comment","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","name":"1002 = ein & aus","info":"","x":1728.7499861717224,"y":2226.25,"wires":[]},{"id":"ba445db81583ebdd","type":"comment","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","name":"2001 = langer druck aus == heller start","info":"","x":1798.7499861717224,"y":2306.25,"wires":[]},{"id":"0dc82593ac09d14d","type":"comment","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","name":"2003 = 2001 los lassen == heller stop","info":"","x":1798.7499861717224,"y":2346.25,"wires":[]},{"id":"6e17698630e3ace1","type":"debug","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1710,"y":1920,"wires":[]},{"id":"021c03f6f197c090","type":"comment","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","name":"2002 = dimmen stufenweise","info":"","x":1768.7499861717224,"y":2426.25,"wires":[]},{"id":"1d91add6c6b3d72b","type":"comment","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","name":"4002 = rechts == farbwechsel 1 spot","info":"","x":1788.7499861717224,"y":2486.25,"wires":[]},{"id":"e97b70f36ada3632","type":"comment","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","name":"3002 = links == farbwechsel 2 & 3 spot","info":"","x":1798.7499861717224,"y":2526.25,"wires":[]},{"id":"b46e6a615a513c40","type":"comment","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","name":"4001 = Alle Lampen weiß","info":"","x":1758.7499861717224,"y":2586.25,"wires":[]},{"id":"ce5dd684b6b327d4","type":"comment","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","name":"3001 = Alle Lampen Random Effect","info":"","x":1788.7499861717224,"y":2646.25,"wires":[]},{"id":"d938cae7dad85602","type":"inject","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1720,"y":1860,"wires":[["9ae5503a70cde7d6"]]},{"id":"843e510946f62a6a","type":"group","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c45cc247974ba7a2","7a9f2381dc885c4a","9ae5503a70cde7d6"],"x":1865.2500138282776,"y":1659,"w":460.7499861717224,"h":122},{"id":"c45cc247974ba7a2","type":"api-call-service","z":"468a7e231fa8156f","g":"843e510946f62a6a","name":"Licht AN","server":"","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2240,"y":1740,"wires":[[]]},{"id":"7a9f2381dc885c4a","type":"api-call-service","z":"468a7e231fa8156f","g":"843e510946f62a6a","name":"Licht AUS","server":"","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2240,"y":1700,"wires":[[]]},{"id":"9ae5503a70cde7d6","type":"api-current-state","z":"468a7e231fa8156f","g":"843e510946f62a6a","name":"Status Deckenlampe","server":"","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.dein-licht","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1991.2500138282776,"y":1733.75,"wires":[["7a9f2381dc885c4a"],["c45cc247974ba7a2"]]},{"id":"248f4d048fe7e21e","type":"group","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["0da715512e78ce32","883c045c174c4429"],"x":2194,"y":2799,"w":232,"h":122},{"id":"0da715512e78ce32","type":"api-call-service","z":"468a7e231fa8156f","g":"248f4d048fe7e21e","name":"Random Effekt Alle","server":"","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.lampe_mika"],"data":"(\t    $effects := [\t    \"Night\",\t    \"Read\",\t    \"Meeting\",\t    \"Leasure\",\t    \"Soft\",\t    \"Rainbow\",\t    \"Shine\",\t    \"Beautiful\"\t];\t\t{ \"effect\": $shuffle($effects)[0] }\t)","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2310,"y":2880,"wires":[[]]},{"id":"883c045c174c4429","type":"comment","z":"468a7e231fa8156f","g":"248f4d048fe7e21e","name":"Effekte Alle Lampen","info":"","x":2310,"y":2840,"wires":[]},{"id":"621aa8701b853069","type":"group","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9a182b73ee2cfd82","24babcc59edaf879","d406b11e4e99873e"],"x":2174,"y":2619,"w":352,"h":122},{"id":"9a182b73ee2cfd82","type":"function","z":"468a7e231fa8156f","g":"621aa8701b853069","name":"","func":"// Get the saved index value or set it zero\nlet index = context.get(\"index\") || 0;\n\n// Array of colors to cycle through\nconst colors = [\n    [255,0,0], // Red\n    [255,105,180], // Pink\n    [0,128,0] // Green\n];\n\n// if the index value is highier than array length reset back to zero\nif(index >= colors.length) {\n    index = 0;\n}\n\n// send the color value as msg.payload\nmsg.payload = colors[index++];\n\n// save new index value\ncontext.set(\"index\", index);\n\nreturn msg;","outputs":1,"noerr":0,"x":2260,"y":2700,"wires":[["24babcc59edaf879"]]},{"id":"24babcc59edaf879","type":"api-call-service","z":"468a7e231fa8156f","g":"621aa8701b853069","name":"Spot 2 & 3","server":"","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"transition\": 1.5,\t   \"rgb_color\": payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2430,"y":2700,"wires":[[]]},{"id":"d406b11e4e99873e","type":"comment","z":"468a7e231fa8156f","g":"621aa8701b853069","name":"Farbwechsel 2 Lampe","info":"","x":2300,"y":2660,"wires":[]},{"id":"f9a5ae20bb4f9b05","type":"group","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["58b92e076046ddfb","2e2f4a825963f949","94c82501203f1e54"],"x":2154,"y":2439,"w":312,"h":122},{"id":"58b92e076046ddfb","type":"api-call-service","z":"468a7e231fa8156f","g":"f9a5ae20bb4f9b05","name":"Spot 1","server":"","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"transition\": 1.5,\t   \"rgb_color\": payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2390,"y":2520,"wires":[[]]},{"id":"2e2f4a825963f949","type":"function","z":"468a7e231fa8156f","g":"f9a5ae20bb4f9b05","name":"","func":"// Get the saved index value or set it zero\nlet index = context.get(\"index\") || 0;\n\n// Array of colors to cycle through\nconst colors = [\n    [255,0,0], // Red\n    [255,105,180], // Pink\n    [0,128,0] // Green\n];\n\n// if the index value is highier than array length reset back to zero\nif(index >= colors.length) {\n    index = 0;\n}\n\n// send the color value as msg.payload\nmsg.payload = colors[index++];\n\n// save new index value\ncontext.set(\"index\", index);\n\nreturn msg;","outputs":1,"noerr":0,"x":2240,"y":2520,"wires":[["58b92e076046ddfb"]]},{"id":"94c82501203f1e54","type":"comment","z":"468a7e231fa8156f","g":"f9a5ae20bb4f9b05","name":"Farbwechsel 1 Lampe","info":"","x":2280,"y":2480,"wires":[]},{"id":"9d9dad81f812abcf","type":"group","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c212fecdb60c5b71"],"x":2914,"y":2559,"w":212,"h":82},{"id":"c212fecdb60c5b71","type":"api-call-service","z":"468a7e231fa8156f","g":"9d9dad81f812abcf","name":"Alle Spots weiß","server":"","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":[],"data":"{\"brightness\":254,\"kelvin\":6500}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":3020,"y":2600,"wires":[[]]},{"id":"1a586581507b8cbb","type":"group","z":"468a7e231fa8156f","g":"0bbed7669b9c22a4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["494c04b1a5c5f964","4125a66f45edd709","8bf16f1d8088526c"],"x":2376,"y":1744.2499904632568,"w":964.7500014305115,"h":647.7500095367432},{"id":"494c04b1a5c5f964","type":"group","z":"468a7e231fa8156f","g":"1a586581507b8cbb","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c64b768c577b728d","1c30bc104f37427b","fa569f6f43fd3ac3","589f4b90fdbb91a5"],"x":2434,"y":1770.2499904632568,"w":708.2499861717224,"h":162},{"id":"c64b768c577b728d","type":"api-current-state","z":"468a7e231fa8156f","g":"494c04b1a5c5f964","name":"Get state","server":"","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.dein-licht","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":2520,"y":1880,"wires":[["1c30bc104f37427b","fa569f6f43fd3ac3"]]},{"id":"1c30bc104f37427b","type":"function","z":"468a7e231fa8156f","g":"494c04b1a5c5f964","name":"Flow Set Brightness","func":"var bright = msg.data.attributes.brightness;\nflow.set('bright',bright);\nmsg.payload = bright;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2791.25,"y":1883.7499885559082,"wires":[["589f4b90fdbb91a5"]]},{"id":"fa569f6f43fd3ac3","type":"debug","z":"468a7e231fa8156f","g":"494c04b1a5c5f964","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2806.2499861717224,"y":1811.2499904632568,"wires":[]},{"id":"589f4b90fdbb91a5","type":"debug","z":"468a7e231fa8156f","g":"494c04b1a5c5f964","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3026.2499861717224,"y":1891.2499904632568,"wires":[]},{"id":"4125a66f45edd709","type":"group","z":"468a7e231fa8156f","g":"1a586581507b8cbb","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["182999fa131e5b6a","f8588f2237c4082f","d9be962aa2d3ab90","767e3dad89031d6f","55bf5549d88eb1a9","7e0180e1d82d9a6f","ddd40433bf7a990e","38d5ce3d208e5bdd","6293537035937e53","355256f7e53e27e4","7115b8d002b8b2c6","e23cefc22acb6d16","b0a30af6d4c8c1dc"],"x":2402,"y":1959,"w":912.7500014305115,"h":239},{"id":"182999fa131e5b6a","type":"delay","z":"468a7e231fa8156f","g":"4125a66f45edd709","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":2530,"y":2000,"wires":[["f8588f2237c4082f"]]},{"id":"f8588f2237c4082f","type":"function","z":"468a7e231fa8156f","g":"4125a66f45edd709","name":"Read Bri","func":"var x = flow.get('bright');\n\nif(x <= 255){\n    msg.payload = x;\n    return[msg,null];\n}\nif(x > 255){\n    msg.payload = x;\n    return[null,msg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740.000015258789,"y":2005.2500038146973,"wires":[["d9be962aa2d3ab90"],[]]},{"id":"d9be962aa2d3ab90","type":"function","z":"468a7e231fa8156f","g":"4125a66f45edd709","name":"Brightness up","func":"var brightness =  msg.payload;\n\nif(brightness >= 0){\n    brightness = brightness + 20;    \n\t}\n\t\nif(brightness >= 255){\n    brightness = 254;\n    flow.set('bright',brightness);\n    flow.set('press', false);\n    }\n\nmsg.payload = {\n        \"bright\": brightness,\n    };\n\tmsg.feedback = brightness;\n\tflow.set('bright',brightness);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2908.7500014305115,"y":2011.5000038146973,"wires":[["ddd40433bf7a990e","b0a30af6d4c8c1dc"]]},{"id":"767e3dad89031d6f","type":"function","z":"468a7e231fa8156f","g":"4125a66f45edd709","name":"Brightness down","func":"var brightness =  msg.payload;\n\nif(brightness <= 255){\n    brightness = brightness - 20;    \n\t}\n\t\nif(brightness <= 0){\n    brightness = 1;\n    flow.set('bright',brightness);\n    flow.set('press', false);\n    }\n\nmsg.payload = {\n        \"bright\": brightness,\n    };\n\tmsg.feedback = brightness;\n\tflow.set('bright',brightness);\nreturn msg;","outputs":1,"noerr":0,"x":2925.0000228881836,"y":2057.7500047683716,"wires":[["38d5ce3d208e5bdd","b0a30af6d4c8c1dc"]]},{"id":"55bf5549d88eb1a9","type":"function","z":"468a7e231fa8156f","g":"4125a66f45edd709","name":"Read Bri","func":"var x = flow.get('bright');\n\nif(x <= 1){\n    msg.payload = x;\n    return[msg,null];\n}\nif(x > 0){\n    msg.payload = x;\n    return[null,msg];\n}","outputs":2,"noerr":0,"x":2741.250015258789,"y":2054.0000038146973,"wires":[[],["767e3dad89031d6f"]]},{"id":"7e0180e1d82d9a6f","type":"delay","z":"468a7e231fa8156f","g":"4125a66f45edd709","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":2518,"y":2048,"wires":[["55bf5549d88eb1a9"]]},{"id":"ddd40433bf7a990e","type":"change","z":"468a7e231fa8156f","g":"4125a66f45edd709","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"feedback","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2566.250015258789,"y":2114.0000038146973,"wires":[["355256f7e53e27e4"]]},{"id":"38d5ce3d208e5bdd","type":"change","z":"468a7e231fa8156f","g":"4125a66f45edd709","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"feedback","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2566.250015258789,"y":2144.0000038146973,"wires":[["6293537035937e53"]]},{"id":"6293537035937e53","type":"delay","z":"468a7e231fa8156f","g":"4125a66f45edd709","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":2751.25,"y":2157,"wires":[["7115b8d002b8b2c6"]]},{"id":"355256f7e53e27e4","type":"delay","z":"468a7e231fa8156f","g":"4125a66f45edd709","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":2751.250015258789,"y":2114.0000038146973,"wires":[["e23cefc22acb6d16"]]},{"id":"7115b8d002b8b2c6","type":"switch","z":"468a7e231fa8156f","g":"4125a66f45edd709","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2938.7500014305115,"y":2151.5000038146973,"wires":[["767e3dad89031d6f"]]},{"id":"e23cefc22acb6d16","type":"switch","z":"468a7e231fa8156f","g":"4125a66f45edd709","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2938.7500014305115,"y":2111.5000038146973,"wires":[["d9be962aa2d3ab90"]]},{"id":"b0a30af6d4c8c1dc","type":"api-call-service","z":"468a7e231fa8156f","g":"4125a66f45edd709","name":"Deckenlampe","server":"","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":[],"data":"{\"brightness\":\"{{payload.bright}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":3208.7500014305115,"y":2031.5000038146973,"wires":[[]]},{"id":"8bf16f1d8088526c","type":"group","z":"468a7e231fa8156f","g":"1a586581507b8cbb","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["912d95ad22927bdd","55f272dff7886e11","cd1d792c9489c115","d3944ab8374ec703"],"x":2454,"y":2224,"w":362,"h":142},{"id":"912d95ad22927bdd","type":"change","z":"468a7e231fa8156f","g":"8bf16f1d8088526c","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2530,"y":2280,"wires":[["cd1d792c9489c115"]]},{"id":"55f272dff7886e11","type":"change","z":"468a7e231fa8156f","g":"8bf16f1d8088526c","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2530,"y":2325,"wires":[["cd1d792c9489c115"]]},{"id":"cd1d792c9489c115","type":"change","z":"468a7e231fa8156f","g":"8bf16f1d8088526c","name":"Control the loop","rules":[{"t":"set","p":"press","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2710,"y":2295,"wires":[[]]},{"id":"d3944ab8374ec703","type":"comment","z":"468a7e231fa8156f","g":"8bf16f1d8088526c","name":"start/stop loop","info":"","x":2670,"y":2265,"wires":[]},{"id":"c2f29da98c3d5506","type":"deconz-server","name":"Phoscon-GW","config_version":1,"ip":"haserver.fritz.box","port":"40850","ws_port":"8081","secure":false,"polling":"15"}]
